<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATcGr3iK54ZmJjcbkJJJfAtUY4vH4LPtk</string>
	<key>GCM_SENDER_ID</key>
	<string>950245179751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsvetanvalentin.runbirdrun</string>
	<key>PROJECT_ID</key>
	<string>run-bird-run-6b643</string>
	<key>STORAGE_BUCKET</key>
	<string>run-bird-run-6b643.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950245179751:ios:fcde0b1dc3128a1e87efc2</string>
</dict>
</plist>